.bestelContainer {
    background-color: white;
    height: 100vh;
}

.besteldeproductenDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.besteldeproductenDiv h1 {
    margin: 0 auto;
}

.besteldeproductenDiv p {
    margin: 0 auto;
}

.besteldeproductenTable {
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.besteldeproductenTable td {
    border: 1px solid black;
}

.addresFormDiv {
    margin-left: 5%;
    margin-top: 2%;
}